@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: #F5F5F5;
}


/* Common Styles */
.bg-green {
    background-color: #C6E4D6;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-blue {
    background-color: rgba(84, 144, 245, 0.2);
}
.bg-yellow {
    background-color: #F7EBCF;
}


/* Navbar */


/* Banner Section */
.banner-section {
    border: 1px solid red;
}

/* Pillars of "Bangladesh 2.0" */
.pillars-of-bangladesh {
    border: 1px solid red;
}


/* The Vision of Future */
.the-vision-of-future {
    border: 1px solid red;
}

/* Quote Section */
.quote-section {
    border: 1px solid red;
}


/* Opinion Section */
.opinion-section {
    border: 1px solid red;
}


/* Recent News */
.recent-news {
    border: 1px solid red;
}


/* Donate For Bangladesh */
.donate-for-bangladesh {
    border: 1px solid red;
}


/* Newsletter Section*/
.newsletter-section {
    border: 1px solid red;
}

footer {
    border: 1px solid red;
}